.add-recipe-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('../../static/assets/images/pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
.content-wrapper {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
    input {
        height: 40px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .2em;
        background-color: white;
        font-size: 18px;
        border: 5px solid #1d284f;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        
    }
    
    
    textarea {
        height: 20%;
        width: 50%;
        border-radius: .2em;
        background-color: white;
        font-size: 18px;
        margin-bottom: 10px;
        border: 5px solid #1d284f;
        font-family: 'Source Sans Pro', sans-serif;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }


    
    .add-btn {
        height: 40px;
        border: 5px solid #1d284f;
        border-radius: .2em;
        background-color: white;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        letter-spacing: 0.2rem;
        font-weight: bold;
        font-size: 1em;
        width: 50%;
        margin-bottom: 10px;
    }
}
 
    
}



@media screen and (max-width: 480px) {
    .add-recipe-page-wrapper {
        min-height: 80vh;
       
    .content-wrapper {
        height: 100%;
        margin-top: 100px;
        button {
            height: 100px;
        }
        textarea {
            height: 40%;
            font-size: smaller;
        }

        input{
            font-size: 1em;
        }
    }
}
} 
