.add-recipe-page-wrapper {
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:#32953c;
    background-image: url('../../static/assets/images/prepared-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    
   
    input {
        height: 40px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .2em;
        background-color: white;
        font-size: 18px;
        border: 5px solid #1d284f;
        font-family: 'Source Sans Pro', sans-serif;
        margin-bottom: 10px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        
    }
    
    
    textarea {
        height: 50%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .2em;
        background-color: white;
        font-size: 18px;
        border: 5px solid #1d284f;
        font-family: 'Source Sans Pro', sans-serif;
        margin-bottom: 10px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        
        
    }
    p {
        height: 50px;
       color: red;
    }

    button {
        height: 40px;
        width: 70px;
        border: 5px solid #1d284f;
        border-radius: .2em;
        background-color: white;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
       
    }
    
}
.content-wrapper {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .content-wrapper {
        height: 90%;
    }
} 