.body-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(224, 224, 224);

    p { 
        height: 30px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2756c4;
        margin-bottom: 40px;
        background-color: transparent;
        font-size: 1.8em;
        font-weight: bold;
        
    }
    
    .carousel-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 60%;
        margin-right: 15px;
        margin-bottom: 30px;
        border: 12px solid rgba(19, 81, 173, 0.356);
        border-radius: .5em;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

        .awssld__bullets {

            button {
                
                background-color: #2756c4;
                border: 2px solid #1d284f;
            }
        }

       
    }

 
    
}
@media screen and (max-width: 480px) {
    .body-wrapper {
        .carousel-wrapper {
            margin-bottom: 50px;
        }
    }
}
