.body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-color: rgb(224, 224, 224);
    

    img {
        height: 60%;
        width: 45%;
        position: absolute;
        z-index: 1;
        background-size: cover;
        transform-origin: 0 50%;
        transition: all 0.5s ease;
    }
    img:hover {
        transform: rotateY(-180deg);


     }
    
       
    .logo-on-book {
        font-size: 3em;
        position: absolute;
        z-index: 2;
        

        
        .logo-wrapper {
            display: grid;
            grid-template-rows: 1fr 2fr 1fr;
            justify-items: center;
            align-items: center;

           
            .logo-middle {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                font-size: 2em; 
            }
        }


        
    }
    
}
