.footer-wrapper {
    background-color: #1d284f;
    height: 120px;
    width: 100vw;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    
    bottom: 0;
    
    

    a {
        color: #FFFFFF;
        text-shadow: 2px 2px 0 #2756c4, 
                     2px -2px 0 #2756c4, 
                     -2px 2px 0 #2756c4, 
                     -2px -2px 0 #2756c4, 
                     2px 0px 0 #2756c4, 
                     0px 2px 0 #2756c4, 
                     -2px 0px 0 #2756c4, 
                     0px -2px 0 #2756c4;
        padding: 10px;
        text-decoration: none;
        &:hover {
            color: black;
        }
    }
}
@media screen and (max-width: 480px) {
    .footer-wrapper {
        height: 65px;
       

    }
}