.footer-wrapper {
    background-color: #1d284f;
    height: 110px;
    width: 100vw;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        color: #FFFFFF;
        text-shadow: 2px 2px 0 #428c43, 
                     2px -2px 0 #428c43, 
                     -2px 2px 0 #428c43, 
                     -2px -2px 0 #428c43, 
                     2px 0px 0 #428c43, 
                     0px 2px 0 #428c43, 
                     -2px 0px 0 #428c43, 
                     0px -2px 0 #428c43;
        padding: 10px;
    }
}