.login-wrapper {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    margin-top: 20px;
    background-image: url('../../static/assets/images/peas-shrimp.jpg');
    background-repeat: no-repeat;
    background-size: cover;


    .input-wrapper {
        height: 50vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 55px;
        margin-bottom: 80px;
        align-items: center;
        background-color: rgba(19, 81, 173, 0.356);
        border-radius: .5em;
        border: 2px solid darkgray;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                

        input {
            height: 20px;
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 20px;
            border-radius: .3em;
            border: 2px solid darkgray;
            margin-top: 10px;
            padding: 10px;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

            
    
        }
        button {
            height: 25px;
            width: 70px;
            margin-top: 10px;
            border-radius: .3em;
            border: 2px solid darkgray;
            background-color: white;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

        }
        p { 
            color: black;
        }
    }

}
@media screen and (max-width: 480px) {
    .login-wrapper {
        height: 90vh;
        margin-top: 10px;
    
    .input-wrapper {
        height: 30vh;
        margin-bottom: 250px;
        margin-top: 110px;
        input {
            height: 18px;
        }
        .footer-wrapper {
            margin-top: 100px;
        } 
    }
}
    
    
}
